.header{
  height: 95vh;
  background-image: linear-gradient(to right bottom,rgba(126, 213, 111,0.6),rgba(40, 180, 133,0.6)), url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  clip-path:polygon(0 0, 100% 0,100% 75vh, 0 100%);
  position: relative;

  @include respond(tab-port){
    clip-path:polygon(0 0, 100% 0,100% 85vh, 0 100%);

  }
}

.logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
  transition: all .3s;
}

.logo{
  height: 45px;
  &:hover{
    animation: moveInRight 1s ease-in;
  }
}

.hero-box{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.heading-primary{
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 10px;
}

.heading-primary-main{
  display: block;
  font-weight: 700;
  line-height: 17.4px;
  font-size: 7rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

}
.heading-primary-sub{
  display: block;
  font-size: 3rem;
  letter-spacing: 1.4px;
  line-height: 100px;
  white-space: nowrap;

  animation: moveInRight 1s ease-in;
}
